<!DOCTYPE html>
<html lang="ar">
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "تمت عملية إعادة تعيين كلمة المرور" %}</title>
</head>
<body>
    <h1>{% translate "تمت عملية إعادة تعيين كلمة المرور" %}</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% translate "لقد تم إرسالك إلى هذه الصفحة بعد محاولة إعادة تعيين كلمة المرور. يرجى التحقق من رسالة البريد الإلكتروني الخاصة بك لمعرفة حالة العملية." %}</p>
        <p><a href="{% url 'login' %}">{% translate "تسجيل الدخول" %}</a></p>
    {% endif %}
</body>
</html>